a,
hr,
footer {
  display: none;
}

header {
  margin-top: 0;
  padding-top: 0;
}

header h1 {
  font-size: 1.8em;
}

.entry:not(:first-of-type) {
  page-break-inside: avoid;
}

.entry-description-section,
.additional-experience {
  page-break-inside: avoid;
}

.entry-header {
  flex-direction: row;
}

.entry-info {
  text-align: right;
}

.skills-container {
  flex-wrap: nowrap;
}

.skills-section {
  min-width: 300px;
}

h3 {
  page-break-before: auto;
  page-break-after: avoid;
}

section h2 {
  page-break-before: auto;
  page-break-after: avoid;
}

@page {
  margin: 2cm;
}

.print-only {
  display: inline;
}